<h1>Formulario de Task</h1>

<form #taskForm="ngForm">
  <input type="hidden" name="id" [(ngModel)]="nuevoDato.id">

  <div>
    <label>Titulo:</label>
    <input type="text" name="titulo" [(ngModel)]="nuevoDato.titulo" required>
  </div>

  <div>
    <label>Descripcion:</label>
    <input type="text" name="descripcion" [(ngModel)]="nuevoDato.descripcion" required>
  </div>

  <div>
    <label>Prioridad:</label>
    <input type="text" name="prioridad" [(ngModel)]="nuevoDato.prioridad" required>
  </div>

  <div>
    <label>Fecha:</label>
    <input type="text" name="fecha" [(ngModel)]="nuevoDato.fecha" required>
  </div>

  <div>
    <button type="button" (click)="agregarOActualizarDato(taskForm)" [disabled]="!taskForm.form.valid">Guardar</button>
    <button type="button" (click)="limpiarFormulario(taskForm)">Cancelar</button>
  </div>
</form>
